.alterlist-div{
 display: flex;
 justify-content: space-around;
 align-items: center;
 width: 100%;
 box-sizing: border-box;
 padding: 30px 60px 30px 60px;
 flex-wrap: wrap;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 

}

.alter-list-div-items{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
}

.alter-list-div-items img {
    max-width: 200px;
    max-height: 200px;
}


@media only screen and (max-width:600px){
    .alterlist-div{
        flex-direction: column;

    }
    .alterlist-div img {
        max-width: 90%;
        margin: 15px auto;
    }
}