.login-form {
    padding: 2rem;
    width: 550px;
    height: 250px;
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    background-size: 400px, 100px;
    background-repeat: no-repeat;
    padding-top: 60px;
    opacity: .9;
    padding-bottom: 2rem;
   
}
.login-form h1 {  
    color: #111; 
    font-family: 'Helvetica Neue', 
    sans-serif; font-size: 100px;
    font-weight: bold; 
    letter-spacing: -1px; 
    line-height: 1; 
    padding-left: 130px;
    padding-right: 130px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
    /* text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0,0,0,0.15); */
  
       
  }

