.login-form {
    padding: 2rem;
    width: 550px;
    height: 250px;
    margin: auto;
    position: relative;
    background-image: url('https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/rm23-bb-09_1.jpg?w=1300&dpr=1&fit=default&crop=default&q=80&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=368d3af11e344cb803dad76ca537b950');
    display: flex;
    flex-direction: column;
    background-size: 400px, 100px;
    background-repeat: no-repeat;
    padding-top: 60px;
    opacity: .9;
    padding-bottom: 2rem;
   
}


