form {
    padding: 2rem;
    width: 550px;
    height: 250px;
    margin: auto;
    position: relative;
    background-image: url('https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/rm23-bb-09_1.jpg?w=1300&dpr=1&fit=default&crop=default&q=80&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=368d3af11e344cb803dad76ca537b950');
    display: flex;
    flex-direction: column;
    background-size: 400px, 100px;
    background-repeat: no-repeat;
    padding-top: 60px;
    opacity: .9;
   
}
.form-container{
  padding-top: 60px;
}


input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  
}
.query-form h1 {
  background-image: url(https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v461-taus-14a-modernblackandwhite_1.jpg?w=1000&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=53edffe4fa641b8dc804561fb5f22470);
  background-repeat: no-repeat;
  background-size: cover;

  color: #111; 
  font-family: 'Helvetica Neue', 
  sans-serif; font-size: 100px;
  font-weight: bold; 
  letter-spacing: -1px; 
  line-height: 1; 
  padding-left: 130px;
  padding-right: 130px;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 30px;
  /* text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0,0,0,0.15); */

     
}
input:required {
    border-color: #800000;
    border-width: 2px;
  }
  
  input:required:invalid {
    border-color: #c00000;
  }

 .intro-title {
    background-image: url(https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v461-taus-14a-modernblackandwhite_1.jpg?w=1000&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=53edffe4fa641b8dc804561fb5f22470);
    background-repeat: no-repeat;
    background-size: cover;
  
    color: #111; 
    font-family: 'Helvetica Neue', 
    sans-serif; font-size: 100px;
    font-weight: bold; 
    letter-spacing: -1px; 
    line-height: 1; 
    padding-left: 130px;
    padding-right: 130px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
    /* text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0,0,0,0.15); */
  
       
  }
