*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

:root {
  --reach-skip-nav: 1;
}

[data-reach-skip-nav-link] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  position: absolute;
}

[data-reach-skip-nav-link]:focus {
  padding: 1rem;
  position: fixed;
  top: 10px;
  left: 10px;
  background: white;
  z-index: 1000;
  width: auto;
  height: auto;
  clip: auto;
}

@keyframes loader-animation {
  0% {
      left: -100%;
  }
  49% {
      left: 100%;
  }
  50% {
      left: 100%;
  }
  100% {
      left: -100%;
  }
}
.loader {
  height: 5px;
  width: 100%;
  overflow: hidden;
}
.loader .bar {
  position: relative;
  height: 5px;
  width: 100%;
  background-color: dodgerblue;
  animation-name: loader-animation;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}